<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/head %>
</head>

<body>
    <% include shared/navbar %>

    <section class="py-3">
    </section>
    <% include shared/scripts %>
</body>

</html>